# FastAPI configuration
BACKEND_ALLOW_ORIGINS=http://localhost:3000
BACKEND_MODEL_WEIGHTS=weights/ap/hrnet_w18.pth
BACKEND_LA_MODEL_WEIGHTS=weights/best_100.pt
BACKEND_RESULTS_DIR=results
BACKEND_LA_RESULTS_DIR=results/la
BACKEND_MAX_SAVED_RESULTS=5
BACKEND_LOG_LEVEL=INFO
